pkgbase = archy-slstatus
	pkgdesc = suckless status monitor for archy linux
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/archy-linux/archy-slstatus
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = make
	makedepends = gzip
	provides = archy-slstatus
	source = archy-slstatus-1.0.1.tar.gz::https://github.com/archy-linux/archy-slstatus/archive/refs/tags/1.0.1.tar.gz
	sha256sums = f331c6a0dcb193e40d8b00d7033000a958dd70e2273c6b54adcdb53e47f0344d

pkgname = archy-slstatus
