pkgbase = hys
	pkgdesc = Terminal RSS Reader for Digital Minimalists in Zig.
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/superstarryeyes/hys
	arch = x86_64
	license = MIT
	makedepends = zig
	depends = curl
	provides = hys
	conflicts = hys-git
	source = hys-0.2.0.tar.gz::https://github.com/superstarryeyes/hys/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 60663a538f211f228c09d174c3c9de0e0570841c03adf5a61ae61dafa7dfeda2

pkgname = hys
